* { 
	margin: 0; padding: 0; 
 }

html{
	color: #999999;
	background-color: #2f2a3e;
	font: normal 76% "Trebuchet MS", "Lucida Grande", Verdana, Sans-Serif;	

}

/* Links */

a {
	text-decoration: none; 
	font-weight: bold; 
	border-bottom: 1px dotted #333333; 
}

a:link { 
	color: #2f2a3e; 
	border-bottom-color: #2f2a3e;
} 

a:visited { 
	color: #51476a; 
	border-bottom-color: #51476a; 
}

a:hover, a:active { 
	color: #000000; 
	border-bottom-color: #000000; 
	border-bottom-style: solid; 
}


/* Headings */

h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; line-height: 1.2em; 
}

h1 { 
	font-size: 32px; 
}

h2 { 
	font-size: 28px; 
}

h3 { 
	font-size: 24px; 
}

h4, h5, h6 { 
	font-size: 20px; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	font-weight: normal; 
	border-bottom-width: 0; 
}

/* Lists */

ul, ol
{
	margin: 1em 0;
	line-height: 1.8em;
}

ol li { 
	margin-left: 2.5em; 
}

ul { 
	padding-left: 2em; 
	list-style-type: square; 
}


/* Other Html Elements */

blockquote
{
	clear: both;
	padding: 1em;
	margin: 2em 3em;
	font-size: 0.9em;
	line-height: 1.7em;
	background-color: #eeeeee;
	border: 1px solid #a9a9a9;
}

code { 
	font-family: Consolas, Monaco, Verdana, "Courier New"; 
	font-size: .93em; 
}

abbr, acronym, cite { 
	border-bottom: 1px dotted #333333; 
	cursor: help; 
}

ins { 
	font-weight: bold; 
	text-decoration: none; 
}

hr { 
	clear: both; 
	height: 1px; 
	visibility: hidden; 
}

/* Structure */

body { 
	background-color: #fff; 
	color: #2f2a3e; 
}
